.vs/ChessGame/FileContentIndex/7d835cd0-5e99-477f-a0f1-00ae51a555a7.vsidx
.vs/
build/
x64/
External/raylib-4.2.0/examples/
/cmake-build-debug/
/cmake-build-release/.cmake/api/v1/query/cache-v2
/cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-release/.cmake/api/v1/query/codemodel-v2
/cmake-build-release/.cmake/api/v1/query/toolchains-v1
/cmake-build-release/.cmake/api/v1/reply/cache-v2-d87e092de2947b53f978.json
/cmake-build-release/.cmake/api/v1/reply/cmakeFiles-v1-1b8b85b380d92307444d.json
/cmake-build-release/.cmake/api/v1/reply/codemodel-v2-56ca62019ec736377e9e.json
/cmake-build-release/.cmake/api/v1/reply/directory-.-Release-f5ebdc15457944623624.json
/cmake-build-release/.cmake/api/v1/reply/directory-_deps.backward-build-Release-50f556039ed176bcf5e6.json
/cmake-build-release/.cmake/api/v1/reply/directory-Game-Release-49db927ff25093741159.json
/cmake-build-release/.cmake/api/v1/reply/directory-SimpleEngine-Release-c2b1c746f419d5bbdd5c.json
/cmake-build-release/.cmake/api/v1/reply/index-2023-04-15T19-04-03-0116.json
/cmake-build-release/.cmake/api/v1/reply/target-backward-Release-5bb1aa94d38c392c838a.json
/cmake-build-release/.cmake/api/v1/reply/target-backward_object-Release-70cb305e9a0425df5303.json
/cmake-build-release/.cmake/api/v1/reply/target-ChessGame-Release-923bb3110a4ee957f2e0.json
/cmake-build-release/.cmake/api/v1/reply/target-SimpleEngine-Release-bfa21b232e2cfb738369.json
/cmake-build-release/.cmake/api/v1/reply/toolchains-v1-ee9fac1005d5a4e42c67.json
/cmake-build-release/_deps/backward-build/CMakeFiles/backward_object.dir/backward.cpp.o
/cmake-build-release/_deps/backward-build/cmake_install.cmake
/cmake-build-release/_deps/backward-subbuild/backward-populate-prefix/src/backward-populate-stamp/backward-populate-build
/cmake-build-release/_deps/backward-subbuild/backward-populate-prefix/src/backward-populate-stamp/backward-populate-configure
/cmake-build-release/_deps/backward-subbuild/backward-populate-prefix/src/backward-populate-stamp/backward-populate-done
/cmake-build-release/_deps/backward-subbuild/backward-populate-prefix/src/backward-populate-stamp/backward-populate-download
/cmake-build-release/_deps/backward-subbuild/backward-populate-prefix/src/backward-populate-stamp/backward-populate-gitclone-lastrun.txt
/cmake-build-release/_deps/backward-subbuild/backward-populate-prefix/src/backward-populate-stamp/backward-populate-gitinfo.txt
/cmake-build-release/_deps/backward-subbuild/backward-populate-prefix/src/backward-populate-stamp/backward-populate-install
/cmake-build-release/_deps/backward-subbuild/backward-populate-prefix/src/backward-populate-stamp/backward-populate-mkdir
/cmake-build-release/_deps/backward-subbuild/backward-populate-prefix/src/backward-populate-stamp/backward-populate-patch
/cmake-build-release/_deps/backward-subbuild/backward-populate-prefix/src/backward-populate-stamp/backward-populate-test
/cmake-build-release/_deps/backward-subbuild/backward-populate-prefix/tmp/backward-populate-cfgcmd.txt
/cmake-build-release/_deps/backward-subbuild/backward-populate-prefix/tmp/backward-populate-gitclone.cmake
/cmake-build-release/_deps/backward-subbuild/backward-populate-prefix/tmp/backward-populate-gitupdate.cmake
/cmake-build-release/_deps/backward-subbuild/backward-populate-prefix/tmp/backward-populate-mkdirs.cmake
/cmake-build-release/_deps/backward-subbuild/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-release/_deps/backward-subbuild/CMakeFiles/backward-populate.dir/Labels.json
/cmake-build-release/_deps/backward-subbuild/CMakeFiles/backward-populate.dir/Labels.txt
/cmake-build-release/_deps/backward-subbuild/CMakeFiles/backward-populate-complete
/cmake-build-release/_deps/backward-subbuild/CMakeFiles/cmake.check_cache
/cmake-build-release/_deps/backward-subbuild/CMakeFiles/CMakeOutput.log
/cmake-build-release/_deps/backward-subbuild/CMakeFiles/rules.ninja
/cmake-build-release/_deps/backward-subbuild/CMakeFiles/TargetDirectories.txt
/cmake-build-release/_deps/backward-subbuild/.ninja_log
/cmake-build-release/_deps/backward-subbuild/build.ninja
/cmake-build-release/_deps/backward-subbuild/cmake_install.cmake
/cmake-build-release/_deps/backward-subbuild/CMakeCache.txt
/cmake-build-release/_deps/backward-subbuild/CMakeLists.txt
/cmake-build-release/CMakeFiles/3.25.2/CompilerIdC/a.out
/cmake-build-release/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-release/CMakeFiles/3.25.2/CompilerIdCXX/a.out
/cmake-build-release/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-release/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-release/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-release/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-release/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-release/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-release/CMakeFiles/clion-environment.txt
/cmake-build-release/CMakeFiles/clion-Release-log.txt
/cmake-build-release/CMakeFiles/cmake.check_cache
/cmake-build-release/CMakeFiles/cmake.verify_globs
/cmake-build-release/CMakeFiles/CMakeOutput.log
/cmake-build-release/CMakeFiles/rules.ninja
/cmake-build-release/CMakeFiles/TargetDirectories.txt
/cmake-build-release/CMakeFiles/VerifyGlobs.cmake
/cmake-build-release/Game/CMakeFiles/ChessGame.dir/Components/BoardTileComponent.cpp.o
/cmake-build-release/Game/CMakeFiles/ChessGame.dir/Components/CameraStatsComponent.cpp.o
/cmake-build-release/Game/CMakeFiles/ChessGame.dir/Components/CameraZoomComponent.cpp.o
/cmake-build-release/Game/CMakeFiles/ChessGame.dir/Components/ChessBoardComponent.cpp.o
/cmake-build-release/Game/CMakeFiles/ChessGame.dir/Components/ChessPieceComponent.cpp.o
/cmake-build-release/Game/CMakeFiles/ChessGame.dir/Components/CollisionTestComponent.cpp.o
/cmake-build-release/Game/CMakeFiles/ChessGame.dir/Components/EngineStatsComponent.cpp.o
/cmake-build-release/Game/CMakeFiles/ChessGame.dir/Components/KeyboardMovementComponent.cpp.o
/cmake-build-release/Game/CMakeFiles/ChessGame.dir/ChessGame.cpp.o
/cmake-build-release/Game/Resources/B_Bishop.png
/cmake-build-release/Game/Resources/B_King.png
/cmake-build-release/Game/Resources/B_Knight.png
/cmake-build-release/Game/Resources/B_Pawn.png
/cmake-build-release/Game/Resources/B_Queen.png
/cmake-build-release/Game/Resources/B_Rook.png
/cmake-build-release/Game/Resources/board_plain_04.png
/cmake-build-release/Game/Resources/W_Bishop.png
/cmake-build-release/Game/Resources/W_King.png
/cmake-build-release/Game/Resources/W_Knight.png
/cmake-build-release/Game/Resources/W_Pawn.png
/cmake-build-release/Game/Resources/W_Queen.png
/cmake-build-release/Game/Resources/W_Rook.png
/cmake-build-release/Game/ChessGame
/cmake-build-release/Game/cmake_install.cmake
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/Collisions/CollisionsDetector.cpp.o
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/Components/Camera2dComponent.cpp.o
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/Components/CollisionBaseComponent.cpp.o
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/Components/GameObjectComponent.cpp.o
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/Components/RectangleCollisionComponent.cpp.o
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/Components/SpriteComponent.cpp.o
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/Components/TransformComponent.cpp.o
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/Components/UIComponent.cpp.o
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/Input/Input.cpp.o
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/Memory/MemoryPool.cpp.o
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/Utilities/Backward.cpp.o
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/EngineCore.cpp.o
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/GameObject.cpp.o
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/Logger.cpp.o
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/Object.cpp.o
/cmake-build-release/SimpleEngine/CMakeFiles/SimpleEngine.dir/Renderer.cpp.o
/cmake-build-release/SimpleEngine/cmake_install.cmake
/cmake-build-release/SimpleEngine/libSimpleEngine.a
/cmake-build-release/Testing/Temporary/LastTest.log
/cmake-build-release/.ninja_deps
/cmake-build-release/.ninja_log
/cmake-build-release/build.ninja
/cmake-build-release/cmake_install.cmake
/cmake-build-release/CMakeCache.txt
